<h1>Men&uacute; principal</h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        <i class="fas fa-user-tie fa-3x" aria-hidden="true"></i>
                       
						<div class="title">
							<h4>Sellers</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="/vendors/index">Go</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    <i class="fas fa-car-battery fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Parts</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="/parts/index">Go</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        <i class="fas fa-dollar-sign fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Prices</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="/prices/index">Go</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        <i class="fas fa-clipboard-check  fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Purchase Order</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="/purchase_orders/index">Go</a>
                        
					 </div>
				</div>	 
				

		
		</div>		
    </div>
</div>
